---
---

@import url('https://fonts.googleapis.com/css?family=Baloo|Merriweather');

body {
    margin: 0;
    padding: 0;
    font-family: Meriweather, serif;
    color: #500;
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Baloo, sans-serif;
}

header {
    max-width: 960px;
    margin: 0 auto;
    padding: 1em;

    h1 {
        img {
            height: 2em;
            vertical-align: middle;
        }
        a, a:hover, a:active, a:visited {
            text-decoration: none;
            color: #500;
        }
    }
}

article {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
    border: 1px dotted black;
    background: url('/assets/ep_naturalwhite.png') #fec;
    -moz-box-shadow:    3px 3px 6px 0px #ccc;
    -webkit-box-shadow: 3px 3px 6px 0px #ccc;
    box-shadow:         3px 3px 6px 0px #ccc;
}

footer {
    max-width: 960px;
    margin: 0 auto;
    padding: 1em;
    font-size: .8em;

    p {
        width: 49%;
        display: inline-block;

        &:last-of-type {
            text-align: right;
        }
    }
}

.half {
    display: inline-block;
    vertical-align: top;
    padding: 0 1em;
    margin: 0;
    width: 45%;

    p:first-of-type {
        margin-top: 0;
    }
}
