---
---

@import url('https://fonts.googleapis.com/css?family=Baloo|Crimson+Text');

body {
    margin: 0;
    padding: 0;
    font-family: 'Crimson Text', serif;
    color: #500;
    vertical-align: top;
    // background: url('/assets/cream_dust.png');
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Baloo, sans-serif;
}

a {
    color: #a33;

    &:visited, &:active, &:hover {
        color: #b44;
    }
}

header {
    padding: 1em;

    h1 {
        display: inline-block;

        img {
            height: 2em;
            vertical-align: middle;
        }
        a, a:hover, a:active, a:visited {
            text-decoration: none;
            color: #500;
        }
    }
    nav {
        display: inline-block;

        ul {
            list-style-type: none;
            padding: none;
            margin: none;

            li {
                display: inline-block;
                padding: 0 1em 1em 0;
            }
        }
    }
}

article {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
    border: 1px dotted #a98;
    background: url('/assets/cream_dust.png');
    -moz-box-shadow:    3px 3px 6px 0px #ccc;
    -webkit-box-shadow: 3px 3px 6px 0px #ccc;
    box-shadow:         3px 3px 6px 0px #ccc;
    position: relative;
}

footer {
    padding: 1em;
    font-size: .8em;

    p {
        width: 49%;
        display: inline-block;

        &:last-of-type {
            text-align: right;
        }
    }
}

.half {
    display: inline-block;
    vertical-align: top;
    padding: 0 1em;
    margin: 0;
    width: 45%;

    p:first-of-type {
        margin-top: 0;
    }
}

@media only screen and (max-width: 960px) {
    .half {
        display: block;
        width: auto;
        max-width: none;
        padding: 0;
    }

    article {
        max-width: none;
        width: auto;
        border-left: none;
        border-right: none;
        margin: 0;
        -moz-box-shadow:    none;
        -webkit-box-shadow: none;
        box-shadow:         none;
    }
}
